In [1]:
import pandas as pd

In [2]:
# Constants
REGION = ["region_1", "region_2", "region_3", "region_4"]
MONTH = ["January","February","March","April","May","June","July","August","September","October","November","December"]

In [3]:
a = [[0.205, 0.240], [0.257, 0.245], [0.203, 0.225],[-0.189,0.204]]
b = [[0.477,0.427], [0.439,0.452], [0.5, 0.461], [0.491, 0.467]]

a_avg = [(x[0]+x[1])/2 for x in a]
b_avg = [(x[0]+x[1])/2 for x in b]

print(a_avg)
print(b_avg)

[0.22249999999999998, 0.251, 0.21400000000000002, 0.007499999999999993]
[0.45199999999999996, 0.4455, 0.48050000000000004, 0.479]

In [4]:
# Region wise constant (a,b)
a_b_final = {
    REGION[0]: [a_avg[0], b_avg[0]],
    REGION[1]: [a_avg[1], b_avg[1]],
    REGION[2]: [a_avg[2], b_avg[2]],
    REGION[3]: [a_avg[3], b_avg[3]]
}

print(a_b_final)

{'region_1': [0.22249999999999998, 0.45199999999999996], 'region_2': [0.251, 0.4455], 'region_3': [0.21400000000000002, 0.48050000000000004], 'region_4': [0.007499999999999993, 0.479]}

In [5]:
# x = S/S0 
# y = H/H0

In [9]:
x = {
    MONTH[0]: {
        REGION[0]: [0.526,0.584],
        REGION[1]: [0.394,0.479],
        REGION[2]: [0.394,0.479],
        REGION[3]: [0.471,0.544],
    },
    MONTH[1]: {
        REGION[0]: [0.584,0.606],
        REGION[1]: [0.479,0.510],
        REGION[2]: [0.479,0.510],
        REGION[3]: [0.544,0.580],
    },
    MONTH[2]: {
        REGION[0]: [1,4],
        REGION[1]: [1,4],
        REGION[2]: [1,3],
        REGION[3]: [3,7],
    },
    MONTH[3]: {
        REGION[0]: [1,4],
        REGION[1]: [1,4],
        REGION[2]: [1,3],
        REGION[3]: [3,7],
    },
    MONTH[4]: {
        REGION[0]: [1,4],
        REGION[1]: [1,4],
        REGION[2]: [1,3],
        REGION[3]: [3,7],
    },
    MONTH[5]: {
        REGION[0]: [1,4],
        REGION[1]: [1,4],
        REGION[2]: [1,3],
        REGION[3]: [3,7],
    },
    MONTH[6]: {
        REGION[0]: [1,4],
        REGION[1]: [1,4],
        REGION[2]: [1,3],
        REGION[3]: [3,7],
    },
    MONTH[7]: {
        REGION[0]: [1,4],
        REGION[1]: [1,4],
        REGION[2]: [1,3],
        REGION[3]: [3,7],
    },    
    MONTH[8]: {
        REGION[0]: [1,4],
        REGION[1]: [1,4],
        REGION[2]: [1,3],
        REGION[3]: [3,7],
    },    
    MONTH[9]: {
        REGION[0]: [1,4],
        REGION[1]: [1,4],
        REGION[2]: [1,3],
        REGION[3]: [3,7],
    },    
    MONTH[10]: {
        REGION[0]: [1,4],
        REGION[1]: [1,4],
        REGION[2]: [1,3],
        REGION[3]: [3,7],
    },
    MONTH[11]: {
        REGION[0]: [1,4],
        REGION[1]: [1,4],
        REGION[2]: [1,3],
        REGION[3]: [3,7],
    }
}

print(x)

{'January': {'region_1': [0.526, 0.584], 'region_2': [0.394, 0.479], 'region_3': [0.394, 0.479], 'region_4': [0.471, 0.544]}, 'February': {'region_1': [0.584, 0.606], 'region_2': [0.479, 0.51], 'region_3': [0.479, 0.51], 'region_4': [0.544, 0.58]}, 'March': {'region_1': [1, 4], 'region_2': [1, 4], 'region_3': [1, 3], 'region_4': [3, 7]}, 'April': {'region_1': [1, 4], 'region_2': [1, 4], 'region_3': [1, 3], 'region_4': [3, 7]}, 'May': {'region_1': [1, 4], 'region_2': [1, 4], 'region_3': [1, 3], 'region_4': [3, 7]}, 'June': {'region_1': [1, 4], 'region_2': [1, 4], 'region_3': [1, 3], 'region_4': [3, 7]}, 'July': {'region_1': [1, 4], 'region_2': [1, 4], 'region_3': [1, 3], 'region_4': [3, 7]}, 'August': {'region_1': [1, 4], 'region_2': [1, 4], 'region_3': [1, 3], 'region_4': [3, 7]}, 'September': {'region_1': [1, 4], 'region_2': [1, 4], 'region_3': [1, 3], 'region_4': [3, 7]}, 'October': {'region_1': [1, 4], 'region_2': [1, 4], 'region_3': [1, 3], 'region_4': [3, 7]}, 'November': {'region_1': [1, 4], 'region_2': [1, 4], 'region_3': [1, 3], 'region_4': [3, 7]}, 'December': {'region_1': [1, 4], 'region_2': [1, 4], 'region_3': [1, 3], 'region_4': [3, 7]}}

In [10]:
def solve_equation(x):
    solutions = []
    for month in MONTH:
        x_month = x[month]
        sol1 = {"month": month}
        sol2 = {"month": month}
        for region in REGION:
            x_range = x_month[region];  
            a = a_b_final[region][0];
            b = a_b_final[region][1];
            sol1[region] = a+b*x_range[0];
            sol2[region] = a+b*x_range[1];
        solutions.append(sol1);
        solutions.append(sol2);
    return solutions

In [11]:
pd.DataFrame(solve_equation(x))

        month  region_1  region_2  region_3  region_4
0     January  0.460252  0.426527  0.403317  0.233109
1     January  0.486468  0.464394  0.444160  0.268076
2    February  0.486468  0.464394  0.444160  0.268076
3    February  0.496412  0.478205  0.459055  0.285320
4       March  0.674500  0.696500  0.694500  1.444500
5       March  2.030500  2.033000  1.655500  3.360500
6       April  0.674500  0.696500  0.694500  1.444500
7       April  2.030500  2.033000  1.655500  3.360500
8         May  0.674500  0.696500  0.694500  1.444500
9         May  2.030500  2.033000  1.655500  3.360500
10       June  0.674500  0.696500  0.694500  1.444500
11       June  2.030500  2.033000  1.655500  3.360500
12       July  0.674500  0.696500  0.694500  1.444500
13       July  2.030500  2.033000  1.655500  3.360500
14     August  0.674500  0.696500  0.694500  1.444500
15     August  2.030500  2.033000  1.655500  3.360500
16  September  0.674500  0.696500  0.694500  1.444500
17  September  2.030500  2.033000  1.655500  3.360500
18    October  0.674500  0.696500  0.694500  1.444500
19    October  2.030500  2.033000  1.655500  3.360500
20   November  0.674500  0.696500  0.694500  1.444500
21   November  2.030500  2.033000  1.655500  3.360500
22   December  0.674500  0.696500  0.694500  1.444500
23   December  2.030500  2.033000  1.655500  3.360500